* {
  padding: 0;
}

* {
  margin: 0;
}

.l-container {
  width: 95%;
  margin: 5em auto 0;
  text-align: center;
}

.charm-titleResult  {
  font-size: 1em;
  letter-spacing: .1em;
  display: inline-block;
  width: 3em;
  height: 3em;
  border: 8px solid #B71C1C;
  border-radius: 50%;
  line-height: 3em;
  letter-spacing: -.05em;
  color: #B71C1C
}

.guide {
  letter-spacing: .03em;
  margin: 3em 0;
}

#block {
  display: block;
  font-size: .5em;
  /* margin-top: -100px; */
}

#btn {
  color: #fff;
  background-color: #212121;
  padding: 1em 2em;
}

#btn:hover {
  background-color: gray;
  box-shadow: 0 0.125em 0 #121212;
}